.catalog {
  &__container {
    display: flex;
    flex-direction: column;
    gap: calc(60 * var(--width-multiplier));
    min-height: 70vh;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: calc(100 * var(--width-multiplier));
  }
  &__filter {
    display: flex;
    align-items: center;
    gap: calc(24 * var(--width-multiplier));
    input, select {
      width: max-content;
    }
    input {
      flex-grow: 1;
    }
    select {
      width: 23.5%;
    }
  }
  &__caption {
    color: rgba(2, 2, 2, 0.5);
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(24 * var(--width-multiplier));
  }
}

.heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 50%;
  min-width: 50%;
  margin-bottom: calc(40 * var(--width-multiplier));
  margin-left: auto;
}