.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 30px;
  border-radius: 30px;
  background-color: var(--white);
  &__balance {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
    font-family: Onest;
  }
}