.card {
  display: flex;
  flex-direction: column;
  gap: calc(12 * var(--width-multiplier));
  padding: calc(30 * var(--width-multiplier));
  border-radius: calc(30 * var(--width-multiplier));
  background-color: var(--white);
  @media (max-width: 1024px) {
    padding: calc(20 * var(--width-multiplier));
    border-radius: calc(16 * var(--width-multiplier));
  }
  @media (max-width: 767px) {
    padding: calc(16 * var(--width-multiplier));
    border-radius: calc(12 * var(--width-multiplier));
  }
  &__caption {
    font-family: Onest;
    font-weight: 600;
  }
  &__balance {
    display: flex;
    align-items: center;
    gap: calc(8 * var(--width-multiplier));
  }
}