.form {
  display: flex;
  flex-direction: column;
  gap: calc(16 * var(--width-multiplier));
  button {
    margin-top: calc(16 * var(--width-multiplier));
    @media (max-width: 1024px) {
      margin-top: calc(8 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      margin-top: calc(4 * var(--width-multiplier));
    }
  }
  &__profile {
    display: grid;
    grid-template-columns: calc(220 * var(--width-multiplier)) 1fr;
    gap: calc(30 * var(--width-multiplier));
    @media (max-width: 1024px) {
      gap: calc(20 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: calc(16 * var(--width-multiplier));
    }
  }
  &__avatar {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: calc(8 * var(--width-multiplier));
    width: 100%;
    height: calc(230 * var(--width-multiplier));
    border-radius: calc(30 * var(--width-multiplier));
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.active {
      &::before {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    @media (max-width: 1024px) {
      border-radius: calc(16 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      height: calc(320 * var(--width-multiplier));
      border-radius: calc(12 * var(--width-multiplier));
    }
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(8 * var(--width-multiplier));
    margin-bottom: calc(20 * var(--width-multiplier));
  }
  &__caption {
    font-size: calc(24 * var(--width-multiplier));
    font-family: Onest;
    font-weight: 600;
    line-height: 1;
    @media (max-width: 1024px) {
      font-size: calc(20 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      font-size: calc(18 * var(--width-multiplier));
    }
  }
  &__link {
    padding: 0;
    border: 0;
    color: rgba(2, 2, 2, 0.5);
    background: transparent;
    transition: color 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      color: var(--primary);
    }
    @media (max-width: 767px) {
      font-size: calc(14 * var(--width-multiplier));
    }
  }
  &__fields {
    display: flex;
    flex-direction: column;
    gap: calc(16 * var(--width-multiplier));
    padding: calc(30 * var(--width-multiplier));
    border-radius: calc(30 * var(--width-multiplier));
    border: calc(1 * var(--width-multiplier)) solid #020202;
    background-color: var(--white);
    input {
      padding: 0;
      padding-bottom: calc(8 * var(--width-multiplier));
      border: 0;
      border-bottom: calc(1 * var(--width-multiplier)) solid rgba(2, 2, 2, 0.5);
      border-radius: 0;
      background-color: transparent;
    }
    .eyeBtn {
      right: calc(4 * var(--width-multiplier));
    }
    @media (max-width: 1024px) {
      padding: calc(20 * var(--width-multiplier));
      border-radius: calc(16 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      padding: calc(16 * var(--width-multiplier));
      border-radius: calc(12 * var(--width-multiplier));
    }
  }
  &__file {
    font-size: calc(14 * var(--width-multiplier));
    text-align: center;
    label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--white);
      z-index: 2;
      transition: color 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__button {
    margin-left: auto;
  }
  &__transfer {
    select {
      width: 100%;
    }
  }
  &__login {
    input {
      padding: calc(20 * var(--width-multiplier));
      @media (max-width: 767px) {
        padding: calc(16 * var(--width-multiplier));
      }
    }
  }
  &__ok {
    color: rgb(61, 166, 82);
  }
  &__error {
    color: rgba(235, 87, 87, 1);
    font-size: calc(14 * var(--width-multiplier));
    text-align: center;
  }
}

.passwordField {
  position: relative;
}

.eyeBtn {
  position: absolute;
  right: calc(30 * var(--width-multiplier));
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0 !important;
  color: var(--dark);
  background: none;
  border: none;
  cursor: pointer;
  svg {
    display: block;
  }
}