.notif {
  &__cards {
    display: flex;
    flex-direction: column;
    gap: calc(20 * var(--width-multiplier));
  }
  &__caption {
    font-size: calc(24 * var(--width-multiplier));
    font-family: Onest;
    font-weight: 600;
    line-height: 1;
  }
}