.coins {
  &__wrap {
    &:first-child {
      margin-bottom: calc(40 * var(--width-multiplier));
    }
  }
  &__title {
    margin-bottom: calc(20 * var(--width-multiplier));
    font-family: Onest;
    font-weight: 600;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(60 * var(--width-multiplier));
  }
}