.coins {
  &__wrap {
    &:first-child {
      margin-bottom: 40px;
    }
  }
  &__title {
    margin-bottom: 20px;
    font-family: Onest;
    font-weight: 600;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}