:root {
  --white: #FFFFFF;
  --dark: #0F0F0F;
  --grey: #686F7B;
  --light-grey: #A3A3A3;
  --primary: #DD5500;
  --width-base: 1440;
  --width-current: 100vw;
  --width-multiplier: var(--width-current) / var(--width-base);
}

@media(max-width: 1024px) {
    :root {
      --width-base: 768;
      --width-current: 100vmin;
    }
}

@media(max-width: 767px) {
    :root {
      --width-base: 375;
      --width-current: 100vmin;
    }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  outline: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font: 400 calc(16 * var(--width-multiplier))/1.4 Onest;
  color: var(--dark);
  background-color: #F6F6F6;
}

:-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar {
  width: 0px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:focus-visible, textarea:focus-visible, select:focus-visible {
  outline: none;
}

input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  font-size: inherit;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: inherit;
  font-size: inherit;
}