// Onest
@font-face {
	font-family: Onest;
	font-display: swap;
	src: url("/assets/fonts/Onest-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Onest;
	font-display: swap;
	src: url("/assets/fonts/Onest-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Onest;
	font-display: swap;
	src: url("/assets/fonts/Onest-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Onest;
	font-display: swap;
	src: url("/assets/fonts/Onest-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Onest;
	font-display: swap;
	src: url("/assets/fonts/Onest-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Onest;
	font-display: swap;
	src: url("/assets/fonts/Onest-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

// Unbounded
@font-face {
	font-family: Unbounded;
	font-display: swap;
	src: url("/assets/fonts/Unbounded-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Unbounded;
	font-display: swap;
	src: url("/assets/fonts/Unbounded-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Unbounded;
	font-display: swap;
	src: url("/assets/fonts/Unbounded-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Unbounded;
	font-display: swap;
	src: url("/assets/fonts/Unbounded-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Unbounded;
	font-display: swap;
	src: url("/assets/fonts/Unbounded-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}



  h1 {
    font: 500 calc(42 * var(--width-multiplier))/1 Onest;
    @media (max-width: 1024px) {
      font-size: calc(32 * var(--width-multiplier));
    }
		@media (max-width: 1024px) {
      font-size: calc(24 * var(--width-multiplier));
    }
  }

	h2 {
    font: 500 calc(32 * var(--width-multiplier))/1 Onest;
    @media (max-width: 1024px) {
      font-size: calc(24 * var(--width-multiplier));
    }
  }
  
  h3 {
    font: 500 calc(24 * var(--width-multiplier))/1 Onest;
    @media (max-width: 1024px) {
      font-size: calc(20 * var(--width-multiplier));
    }
  }
  
  h4 {
    font: 500 calc(20 * var(--width-multiplier))/1 Onest;
    @media (max-width: 767px) {
      font-size: calc(18 * var(--width-multiplier));
    }
  }
  
  h5, h6 {
    font-family: Onest;
    font-weight: 500;
		line-height: 1;
  }