@use '~/src/styles/typography' as *;
@use '~/src/styles/mixins' as *;
@use '~/src/styles/default' as *;

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Container
.container {
  width: 100%;
  padding: 0 calc(60 * var(--width-multiplier));
  @media(max-width: 1024px) {
    padding: 0 calc(16 * var(--width-multiplier));
  }
}

// Section

.section {
  &-pad {
    padding: calc(100 * var(--width-multiplier)) 0;
    @media (max-width: 1024px) {
      padding: calc(80 * var(--width-multiplier)) 0;
    }
    @media (max-width: 767px) {
      padding: calc(64 * var(--width-multiplier)) 0;
    }
    &-top {
      padding-top: calc(100 * var(--width-multiplier));
      @media (max-width: 1024px) {
        padding-top: calc(80 * var(--width-multiplier));
      }
      @media (max-width: 767px) {
        padding-top: calc(64 * var(--width-multiplier));
      }
    }
    &-bottom {
      padding-bottom: calc(100 * var(--width-multiplier));
      @media (max-width: 1024px) {
        padding-bottom: calc(80 * var(--width-multiplier));
      }
      @media (max-width: 767px) {
        padding-bottom: calc(64 * var(--width-multiplier));
      }
    }
  }
  &-hidden {
    overflow: hidden;
  }
}

// Inputs

input, select, textarea {
  width: 100%;
  padding: calc(30 * var(--width-multiplier));
  border: calc(1 * var(--width-multiplier)) solid #020202;
  border-radius: calc(30 * var(--width-multiplier));
  color: var(--dark);
  background-color: var(--white);
  font: 400 calc(16 * var(--width-multiplier))/1 Onest;
  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
  height: calc(90 * var(--width-multiplier));
}

select {
  -moz-appearance: none;
  appearance: none;
  width: max-content;
  padding-right: calc(46 * var(--width-multiplier));
  background: url("/assets/img/select-arrow.svg") calc(100% - calc(16 * var(--width-multiplier)) ) 50% / calc(16 * var(--width-multiplier)) no-repeat;
  background-color: var(--white);
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.search {
  padding-right: calc(46 * var(--width-multiplier));
  background: url("/assets/img/search.svg") calc(100% - 16 * var(--width-multiplier)) 50% / calc(16 * var(--width-multiplier)) no-repeat;
  background-color: var(--white);
}

// Button

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: calc(20 * var(--width-multiplier)) calc(50 * var(--width-multiplier));
  border: calc(1 * var(--width-multiplier)) solid transparent;
  border-radius: calc(30 * var(--width-multiplier));
  background-color: transparent;
  font: 600 calc(16 * var(--width-multiplier))/1 Onest;
  text-transform: uppercase;
  transition: all 0.4s;
  &:hover:not(:disabled) {
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.5;
  }
  &-full {
    width: 100%;
  }
  &-orange {
    border: calc(1 * var(--width-multiplier)) solid var(--primary);
    color: var(--white);
    background-color: var(--primary);
  }
  &-border {
    border: calc(1 * var(--width-multiplier)) solid var(--dark);
  }
}

// Text

.title {
  &-sm {
    font-size: calc(24 * var(--width-multiplier));
    line-height: 1.1em;
  }
}

.text {
  &-up {
    text-transform: uppercase;
  }
  &-down {
    text-transform: lowercase;
  }
}

.link {
  position: relative;
  display: block;
  width: max-content;
  padding-bottom: calc(2 * var(--width-multiplier));
  font-family: Onest;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(1 * var(--width-multiplier));
    width: 100%;
    background-color: var(--dark);
    transform-origin: 100% 50%;
    transform: scale3d(1, 1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  }
  &:hover {
    &::before {
      transform-origin: 0% 50%;
      transform: scale3d(0, 1, 1);
      transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
    }
  }
}

// Status

.done {
  color: #3CA444;
}
.wait {
    color: #E0A219;
}