 .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(16 * var(--width-multiplier));
  padding: calc(30 * var(--width-multiplier));
  border-radius: calc(30 * var(--width-multiplier));
  background-color: var(--white);
  font-size: calc(20 * var(--width-multiplier));
  line-height: 1;
  &__caption {
    font-family: Onest;
    font-weight: 600;
  }
  &__details {
    display: flex;
    flex-direction: column;
    gap: calc(16 * var(--width-multiplier));
  }
  &__date {
    color: rgba(2, 2, 2, 0.5);
  }
  &__amount {
    display: flex;
    align-items: center;
    gap: calc(8 * var(--width-multiplier));
    span {
      margin-top: calc(3 * var(--width-multiplier));
    }
  }
}

.active {
  color: var(--primary);
}