 .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 30px;
  border-radius: 30px;
  background-color: var(--white);
  font-size: 20px;
  line-height: 1;
  &__caption {
    font-family: Onest;
    font-weight: 600;
  }
  &__details {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__date {
    color: rgba(2, 2, 2, 0.5);
  }
  &__amount {
    display: flex;
    align-items: center;
    gap: 8px;
    span {
      margin-top: 3px;
    }
  }
}

.active {
  color: var(--primary);
}