.profile {
  &__container {
    display: flex;
    flex-direction: column;
    gap: calc(40 * var(--width-multiplier));
    max-width: calc(994 * var(--width-multiplier));
    min-height: 70vh;
    margin: 0 auto;
  }
  &__aside {
    display: flex;
    gap: calc(30 * var(--width-multiplier));
  }
  &__list {
    display: flex;
    gap: calc(30 * var(--width-multiplier));
    width: 100%;
    li {
      flex-grow: 1;
    }
    a {
      display: block;
      width: 100%;
      padding: calc(30 * var(--width-multiplier));
      border-radius: calc(30 * var(--width-multiplier));
      border: calc(5 * var(--width-multiplier)) solid var(--dark);
      background-color: var(--white);
      text-align: center;
      font-weight: 600;
      transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
      &.active {
        border-color: var(--primary);
        color: var(--white);
        background-color: var(--primary);
        pointer-events: none;
      }
      &:hover {
        cursor: pointer;
        border-color: var(--primary);
        color: var(--primary);
      }
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: calc(30 * var(--width-multiplier));
    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.active {
  color: var(--primary);
  pointer-events: none;
}