.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - calc(32 * var(--width-multiplier)));
  max-width: calc(1320 * var(--width-multiplier));
  border: calc(10 * var(--width-multiplier)) solid rgba(2, 2, 2, 1);
  border-radius: calc(40 * var(--width-multiplier));
  background-color: var(--white);
  overflow: hidden;
  @media (max-width: 1024px) {
    border: calc(6 * var(--width-multiplier)) solid #020202;
    border-radius: calc(24 * var(--width-multiplier));
  }
  @media (max-width: 767px) {
    border-radius: calc(16 * var(--width-multiplier));
    border: calc(4 * var(--width-multiplier)) solid #020202;
  }
  &__close {
    position: absolute;
    top: calc(60 * var(--width-multiplier));
    right: calc(60 * var(--width-multiplier));
    padding: 0;
    border: 0;
    background-color: transparent;
    svg {
      display: block;
      min-width: calc(38 * var(--width-multiplier));
      width: calc(38 * var(--width-multiplier));
      height: calc(28 * var(--width-multiplier));
      @media (max-width: 1024px) {
        min-width: calc(30 * var(--width-multiplier));
        width: calc(30 * var(--width-multiplier));
        height: calc(20 * var(--width-multiplier));
      }
      @media (max-width: 767px) {
        min-width: calc(28 * var(--width-multiplier));
        width: calc(28 * var(--width-multiplier));
        height: calc(18 * var(--width-multiplier));
      }
    }
    &:hover {
      cursor: pointer;
    }
    @media (max-width: 1024px) {
      top: calc(40 * var(--width-multiplier));
      right: calc(40 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      top: calc(16 * var(--width-multiplier));
      right: calc(16 * var(--width-multiplier));
    }
  }
}