.card {
  display: flex;
  flex-direction: column;
  gap: calc(10 * var(--width-multiplier));
  min-height: calc(180 * var(--width-multiplier));
  padding: calc(30 * var(--width-multiplier));
  border-radius: calc(30 * var(--width-multiplier));
  background-color: var(--white);
  line-height: 1;
  &__caption {
    font-size: calc(20 * var(--width-multiplier));
    font-weight: 600;
    @media (max-width: 1024px) {
      font-size: calc(18 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      font-size: calc(16 * var(--width-multiplier));
    }
  }
  &__reward {
    display: flex;
    align-items: center;
    gap: calc(4 * var(--width-multiplier));
    width: max-content;
    margin-top: auto;
    margin-left: auto;
    padding: calc(16 * var(--width-multiplier)) calc(30 * var(--width-multiplier));
    border-radius: calc(30 * var(--width-multiplier));
    color: var(--white);
    background-color: var(--primary);
    font-weight: 500;
    svg {
      display: block;
      min-width: calc(18 * var(--width-multiplier));
      width: calc(18 * var(--width-multiplier));
      height: calc(18 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      padding: calc(12 * var(--width-multiplier)) calc(20 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      padding: calc(10 * var(--width-multiplier)) calc(16 * var(--width-multiplier));
    }
  }
  @media (max-width: 1024px) {
    padding: calc(20 * var(--width-multiplier));
    border-radius: calc(24 * var(--width-multiplier));
  }
  @media (max-width: 767px) {
    min-height: calc(150 * var(--width-multiplier));
    padding: calc(16 * var(--width-multiplier));
    border-radius: calc(16 * var(--width-multiplier));
  }
}