.login {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: calc(480 * var(--width-multiplier));
    min-height: calc(100vh - calc(140 * var(--width-multiplier)));
    padding: calc(50 * var(--width-multiplier)) 0;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: calc(24 * var(--width-multiplier));
    font-size: calc(32 * var(--width-multiplier));
    text-align: center;
    @media (max-width: 1024px) {
      font-size: calc(24 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      font-size: calc(20 * var(--width-multiplier));
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: calc(24 * var(--width-multiplier));
    @media (max-width: 767px) {
      gap: calc(20 * var(--width-multiplier));
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: calc(8 * var(--width-multiplier));
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(8 * var(--width-multiplier));
    a {
      transition: color 0.3s ease-in-out;
      &:hover {
        color: var(--primary);
      }
    }
    @media (max-width: 767px) {
      font-size: calc(14 * var(--width-multiplier));
    }
  }
}