.login {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 480px;
    min-height: calc(100vh - 200px);
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 24px;
    font-size: 32px;
    text-align: center;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    a {
      transition: color 0.3s ease-in-out;
      &:hover {
        color: var(--primary);
      }
    }
  }
}