.footer {
  margin-top: auto;
  color: var(--white);
  background-color: #DD5500;
  &__container {
    display: flex;
    justify-content: end;
    padding: calc(20 * var(--width-multiplier)) 0;
  }
}