.card {
  position: relative; 
  display: flex;
  flex-direction: column;
  border-radius: calc(10 * var(--width-multiplier));
  &__img {
    height: calc(380 * var(--width-multiplier));
    width: 100%;
    margin-bottom: calc(20 * var(--width-multiplier));
    border-radius: calc(40 * var(--width-multiplier));
    border: calc(10 * var(--width-multiplier)) solid #020202;
    overflow: hidden;
    transition: border-color 0.3s ease-in-out;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__box {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: calc(16 * var(--width-multiplier));
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: calc(8 * var(--width-multiplier));
  }
  &__caption {
    font-weight: 600;
    font-family: Onest;
  }
  &__desc {
    line-height: 1.2em;
  }
  &__price {
    display: flex;
    align-items: center;
    gap: calc(5 * var(--width-multiplier));
    font-weight: 600;
    font-size: calc(30 * var(--width-multiplier));
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(8 * var(--width-multiplier));
    margin-top: auto;
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: calc(12 * var(--width-multiplier));
  }
  &__amount {
    padding: calc(8 * var(--width-multiplier)) calc(16 * var(--width-multiplier));
    border-radius: calc(12 * var(--width-multiplier));
    color: #FFF;
    background: #f96100;
    font-weight: 500;
    font-size: calc(12 * var(--width-multiplier));
    line-height: 1;
  }
  &__button {
    margin-top: auto;
    padding: 0;
    border: 0;
    background: transparent;
    rect, path {
      transition: fill 0.3s ease-in-out;
    }
    &:hover {
      cursor: pointer;
      rect {
        fill: var(--primary);
      }
      path {
        fill: #020202;
      }
    }
  }
  &:hover {
    .card__img {
      border-color: var(--primary);
    }
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}