.card {
  position: relative; 
  display: flex;
  flex-direction: column;
  border-radius: calc(10 * var(--width-multiplier));
  &__img {
    height: calc(380 * var(--width-multiplier));
    width: 100%;
    margin-bottom: calc(20 * var(--width-multiplier));
    border-radius: calc(30 * var(--width-multiplier));
    border: calc(10 * var(--width-multiplier)) solid #020202;
    overflow: hidden;
    transition: border-color 0.3s ease-in-out;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 1024px) {
      height: calc(320 * var(--width-multiplier));
      border: calc(6 * var(--width-multiplier)) solid #020202;
      border-radius: calc(24 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      border-radius: calc(16 * var(--width-multiplier));
      border: calc(4 * var(--width-multiplier)) solid #020202;
    }
  }
  &__box {
    display: grid;
    grid-template-columns: 1fr calc(50 * var(--width-multiplier));
    align-items: start;
    gap: calc(10 * var(--width-multiplier));
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: calc(8 * var(--width-multiplier));
  }
  &__caption {
    max-width: calc(240 * var(--width-multiplier));
    font-weight: 600;
    font-family: Onest;
    font-size: calc(18 * var(--width-multiplier));
    line-height: 1;
  }
  &__desc {
    line-height: 1.2em;
  }
  &__price {
    display: flex;
    align-items: center;
    gap: calc(5 * var(--width-multiplier));
    font-weight: 600;
    font-size: calc(24 * var(--width-multiplier));
    svg {
      min-width: calc(25 * var(--width-multiplier));
      width: calc(25 * var(--width-multiplier));
      height: calc(25 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      font-size: calc(20 * var(--width-multiplier));
    }
  }
  &__button {
    margin-top: auto;
    padding: 0;
    border: 0;
    background: transparent;
    svg {
      min-width: calc(50 * var(--width-multiplier));
      width: calc(50 * var(--width-multiplier));
      height: calc(50 * var(--width-multiplier));
      @media (max-width: 767px) {
        min-width: calc(48 * var(--width-multiplier));
        width: calc(48 * var(--width-multiplier));
        height: calc(48 * var(--width-multiplier));
      }
    }
    rect, path {
      transition: fill 0.3s ease-in-out;
    }
    &:hover {
      cursor: pointer;
      rect {
        fill: var(--primary);
      }
      path {
        fill: #020202;
      }
    }
  }
  &:hover {
    .card__img {
      border-color: var(--primary);
    }
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}