.hero {
  position: relative;
  padding-top: calc(60 * var(--width-multiplier));
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 95%;
    transform: translateY(-50%);
    width: calc(430 * var(--width-multiplier));
    height: calc(720 * var(--width-multiplier));
    background: url('https://factum-store.netlify.app/assets/img/hero-back.png') center / contain no-repeat;
  }
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(16 * var(--width-multiplier));
    height: calc(700 * var(--width-multiplier));
    padding: calc(70 * var(--width-multiplier));
    border-radius: calc(80 * var(--width-multiplier));
    border: calc(10 * var(--width-multiplier)) solid #020202;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
    @media (max-width: 1024px) {
      height: calc(600 * var(--width-multiplier));
      padding: calc(40 * var(--width-multiplier));
      border-radius: calc(40 * var(--width-multiplier));
      border: calc(6 * var(--width-multiplier)) solid #020202;
    }
    @media (max-width: 767px) {
      padding: calc(16 * var(--width-multiplier));
      border-radius: calc(16 * var(--width-multiplier));
      border: calc(4 * var(--width-multiplier)) solid #020202;
    }
  }
  &__title {
    max-width: 50%;
    width: 100%;
    margin-left: auto;
    strong {
      color: var(--white);
    }
    @media (max-width: 1024px) {
      max-width: unset;
    }
  }
  &__desc {
    max-width: 50%;
    width: 100%;
    margin-left: auto;
    color: var(--white);
    line-height: 1;
    p {
      max-width: calc(424 * var(--width-multiplier));
      @media (max-width: 767px) {
        max-width: unset;
      }
    }
    @media (max-width: 1024px) {
      max-width: unset;
      font-size: calc(14 * var(--width-multiplier));
    }
  }
}

.catalog {
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(32 * var(--width-multiplier));
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      gap: calc(20 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: calc(16 * var(--width-multiplier));
    }
  }
  &__link {
    position: relative;
    width: max-content;
    font-size: calc(24 * var(--width-multiplier));
    font-weight: 700;
    font-family: Unbounded;
    text-transform: lowercase;
    line-height: 1;
    &::after {
      content: '';
      position: absolute;
      left: calc(100% + calc(2 * var(--width-multiplier)));
      bottom: calc(5 * var(--width-multiplier));
      width: calc(8 * var(--width-multiplier));
      height: calc(8 * var(--width-multiplier));
      border-radius: 100%;
      background-color: var(--primary);
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
    &:hover {
      &::after {
        transform: scale(1);
      }
    }
    @media (max-width: 1024px) {
      font-size: calc(20 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      font-size: calc(18 * var(--width-multiplier));
    }
  }
}

.faq {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: calc(550 * var(--width-multiplier));
    height: calc(680 * var(--width-multiplier));
    background: url('https://factum-store.netlify.app/assets/img/faq-back.png') center / contain no-repeat;
    z-index: -1;
  }
  &__accordion {
    max-width: 75%;
    margin-left: auto;
    @media (max-width: 1024px) {
      max-width: unset;
    }
  }
}

.heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: calc(8 * var(--width-multiplier));
  max-width: 50%;
  margin-bottom: calc(40 * var(--width-multiplier));
  margin-left: auto;
  @media (max-width: 1024px) {
    max-width: unset;
    margin-bottom: calc(30 * var(--width-multiplier));
  }
  @media (max-width: 767px) {
    flex-wrap: wrap;
    margin-bottom: calc(20 * var(--width-multiplier));
  }
}