.hero {
  padding-top: calc(60 * var(--width-multiplier));
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(16 * var(--width-multiplier));
    height: calc(700 * var(--width-multiplier));
    padding: calc(70 * var(--width-multiplier));
    border-radius: calc(80 * var(--width-multiplier));
    border: calc(10 * var(--width-multiplier)) solid #020202;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }
  &__title {
    max-width: 50%;
    width: 100%;
    margin-left: auto;
    strong {
      color: var(--white);
    }
  }
  &__desc {
    max-width: 50%;
    width: 100%;
    margin-left: auto;
    color: var(--white);
    line-height: 1;
    p {
      max-width: calc(424 * var(--width-multiplier));
    }
  }
}

.catalog {
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(32 * var(--width-multiplier));
  }
  &__link {
    position: relative;
    width: max-content;
    font-size: calc(24 * var(--width-multiplier));
    font-weight: 700;
    font-family: Unbounded;
    text-transform: lowercase;
    line-height: 1;
    &::after {
      content: '';
      position: absolute;
      left: calc(100% + calc(2 * var(--width-multiplier)));
      bottom: calc(5 * var(--width-multiplier));
      width: calc(8 * var(--width-multiplier));
      height: calc(8 * var(--width-multiplier));
      border-radius: 100%;
      background-color: var(--primary);
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
    &:hover {
      &::after {
        transform: scale(1);
      }
    }
  }
}

.faq {
  background: url('assets/img/faq-back.png') 0 50% / contain no-repeat;
  &__accordion {
    max-width: 75%;
    margin-left: auto;
  }
}

.heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 50%;
  margin-bottom: calc(40 * var(--width-multiplier));
  margin-left: auto;
}