.accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: calc(30 * var(--width-multiplier));
  width: 100%;
}

.accordionItem {
  padding: calc(20 * var(--width-multiplier)) calc(30 * var(--width-multiplier));
  border-radius: calc(30 * var(--width-multiplier));
  border: calc(1 * var(--width-multiplier)) solid #020202;
  background-color: var(--white);
  width: 67%;
  transition: width 0.3s ease-in-out;
  &:hover {
    .accordionHeader {
      color: var(--primary);
    }
  }
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: calc(600 * var(--width-multiplier));
  padding: calc(10 * var(--width-multiplier)) 0;
  text-align: left;
  font-size: calc(24 * var(--width-multiplier));
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.icon {
  font-size: calc(24 * var(--width-multiplier));
  line-height: 1;
}

.accordionBody {
  overflow: hidden;
  transition: all 0.3s ease;
}

.accordionContent {
  padding-bottom: calc(20 * var(--width-multiplier));
  font-size: calc(14 * var(--width-multiplier));
  line-height: 1.5;
}

.open {
  width: 100%;
}

.active {
  color: var(--primary);
}