.error {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: calc(800 * var(--width-multiplier));
    min-height: calc(100vh - calc(140 * var(--width-multiplier)));
    padding: calc(50 * var(--width-multiplier)) 0;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: calc(40 * var(--width-multiplier));
    text-align: center;
  }
}